.prénom_nom
{
	text-align: center;
	font-family: arial;
	font-size: 3em;
	text-shadow: 2px 2px 3px gray;
}
.P1
{
	text-align: center;
}
.diplôme
{
	color: brown;
}
body
{
	background-image: url(arrière plan.PNG);
}
img
{
	box-shadow: 2px 2px 5px black;
	float: right;
	border: solid; color: black;
}
body
{
	font-family: georgia;
}
.blocktexte {
	float: top;
}