/*Différentes polices utilisés dans mes codes*/

@font-face {
    font-family: 'ballparkweiner';
    src: url('polices/ballpark/ballpark-webfont.woff2') format('woff2'),
         url('polices/ballpark/ballpark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'day_romanregular';
    src: url('polices/dayrom/dayrom-webfont.woff2') format('woff2'),
         url('polices/dayrom/dayrom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------Eléments principaux de la page------*/

body
{
	display: flex;
	background-image: url(images/fond_jaune.png);
	font-family: 'Trebuchet-MS', Arial, Sans-sérif;
	color: #181818;
}
#bloc_page
{
	width: 900px;
	margin: auto;
}
section h1, footer h1, nav a
{
	font-family: day_romanregular, sérif;
	font-weight: normal;
	text-transform: uppercase;
}

/*Ceci est le header*/

header
{
	background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

#titre_principal
{
	display: flex;
	flex-direction: column;
}
#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
#logo img
{
	width: 59px;
	height: 60px;
}
header h1
{
	font-family: 'ballparkweiner', sérif;
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 0 10px;
}
header h2
{
	font-family: Dayrom, sérif;
	font-size: 1.1em;
	margin-top: 0px;
	font-weight: normal;
}

/*Ceci est la navigation*/

nav ul
{
	display: flex;
	list-style-type: none;
}
nav li
{
	margin-right: 15px;
}
nav a
{
	font-size: 1.5em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}
nav a:hover
{
	color: #760001;
	border-bottom: 3px solid #760001;
}

/*Ceci est la bannière*/

#banniere_image
{
	margin-top: 15px;
	height: 200px;
	background: url(images/sanfrancisco.jpg) no-repeat;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	box-shadow: 0px 5px 5px #1c1a19;
	margin-bottom: 25px;
}
#banniere_description
{
	position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}
.bouton_rouge
{
	height: 25px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: url(images/fond_degraderouge.png) repeat-x;
	border: 1px solid #760001;
	border-radius: 5px;
	font-size: 1.5em;
	text-align: center;
	padding: 3px 8px 0px 8px;
	color: white;
	text-decoration: none;
}
.bouton_rouge img
{
	border: 0;
}

/*Ceci est le corps de la page*/

section
{
	display: flex;
	margin-bottom: 20px;
}
article
{
	text-align: justify;
	margin-right: 20px;
	flex: 3;
	font-size: 0.8em;
}
.ico_categorie
{
	vertical-align: middle;
	margin-right: 8px;
}
aside
{
	flex: 1.2;
	position: relative;
	background-color: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
	text-align: justify;
}
#fleche_bulle
{
	position: absolute;
	top: 100px;
	left: -12px;
}
#photo_zozor
{
	text-align: center;
}
#photo_zozor img
{
	border: 1px solid #181818;
}
aside img
{
	margin-right: 5px;
}

/*Ceci est mo pied de page*/

footer
{
	display: flex;
	background: url(images/ico_top.png) no-repeat top center, url(images/separateur.png) repeat-x top, url(images/ombre.png) repeat-x top;
	padding-top: 25px;
}
footer p, footer ul
{
	font-size: 0.8em;
}
footer h1
{
	font-size: 1.1em;
}
#tweet
{
	width: 28%;
}
#mes_photos
{
	width: 35%;
}
#mes_photos img
{
	border: 1px solid #181818;
	margin-right: 2px;
}
#mes_amis
{
	width: 31%;
}
#listes_amis
{
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}
#mes_amis ul
{
	list-style-image: url(images/ico_liensexterne.png);
	padding-left: 2px;
}
#mes_amis a
{
	text-decoration: none;
	color: #760001;
}